<div class="wgtgm-tag-generator-content">
    <div class="tag-cloud">
        {{#if hasTags}}
        <button type="button" class="tag-mode-toggle {{matchMode}}" data-action="toggleMatchMode" title="Toggle: Matches All (AND) / Matches Any (OR)">
            {{matchMode}}
        </button>
        {{/if}}

        {{!-- NEW: TTRPG Toggle --}}
        {{#if showTTRPGToggle}}
        <button type="button" class="tag-mode-toggle {{#if ttrpgEnabled}}active{{/if}}" data-action="toggleTTRPG" title="Include/Exclude TTRPG Music Patreon Tracks" >
            TTRPG
        </button>
        {{/if}}

        {{#each tags}}
        <button type="button" class="tag-toggle {{this.stateClass}}" data-action="toggleTag" data-tag="{{this.name}}">
            {{this.name}}
        </button>
        {{/each}}
    </div>
    
    <hr>
    
    <div class="preview-section">
        <ul class="preview-list">
            {{#each previewTracks}}
            <li>
<button type="button" class="preview-btn small" data-action="previewTrack" data-path="{{this.previewPath}}" title="Preview">
                    <i class="fas {{#if this.isPlaying}}fa-stop{{else}}fa-play{{/if}}"></i>
                </button>
                <span style="margin-right: 5px;">{{this.name}}</span>
            </li>
            {{else}}
            <li class="empty">No matching tracks found...</li>
            {{/each}}
        </ul>
    </div>
</div>