<div class="wgtngm-soundboard">

    <div class="soundboard-header">
        <button data-action="toggle-resize" class="wgtngm-resize-toggle {{#if resizeAuto}}active{{/if}}" title="Toggle Automatic Resizing">
            <i class={{#if resizeAuto}}"fas fa-maximize"{{else}}"fas fa-expand"{{/if}}></i>
        </button>
        <button data-action="toggle-filter" class="wgtngm-environment-toggle {{#if showEnvironmentOnly}}active{{/if}}" title="Toggle Environment Channel Filter">
            <i class={{#if showEnvironmentOnly}}"fas fa-tree"{{else}}"fas fa-list"{{/if}}></i>
        </button>
        <select name="playlist-select" id="playlist-select">
            {{#each playlists}}
            <option value="{{this.id}}" {{#if (eq this.id ../currentPlaylistId)}}selected{{/if}}>
                {{#if this.playing}}&#9658;{{/if}} {{this.name}}
            </option>
            {{/each}}
        </select>
            <i class="fas fa-shuffle wgtngm-fade {{#if isFade}}fade{{/if}}" data-action="fadeSounds" title="Crossfade {{#if isFade}}on{{else}}off{{/if}}"></i>
            <i class="fas fa-layer-group wgtngm-multi {{#if isNotMulti}}nomulti{{/if}}" data-action="multiSounds" title="Multitrack {{#if isNotMulti}}off{{else}}on{{/if}}"></i>
            <i class="{{#if isMuted}}active{{/if}} fas {{#if isMuted}}fa-volume-mute{{else}}fa-volume-high{{/if}}" data-action="mute-all" title="Mute/Unmute All"></i>
    </div>
    
    {{#each playlists}}
    <div class="soundboard-grid" data-playlist-id="{{this.id}}" {{#unless (eq this.id ../currentPlaylistId)}}style="display:none"{{/unless}}>
        {{#each this.sounds}}
        <div class="sound-button-container">
            <button class="sound-button {{#if this.playing}}playing{{/if}}" data-sound-id="{{this.id}}" title="{{this.name}}" data-action="sb-click">
                {{#if this.image}}
                <img src="{{this.image}}" alt="{{this.name}}">
                {{#if ../../isGM}}
                     <button type="button" class="remove-image-button" data-sound-id="{{this.id}}" title="Remove Image" data-action="remove-image">
                         <i class="fas fa-times-circle"></i>
                     </button>
                {{/if}}
                {{else}}{{this.name}}
                {{/if}}
            </button>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>