<section class="wgtngm-mini-player">
    <div class="wgtngm-drawer-container {{#if isDrawerOpen}}open{{/if}}">
        <i class="fas fa-caret-down wgtngm-drawer-handle" data-action="open-playlists"></i>
        <div class="wgtngm-drawer-content">
            <div class="form-group">
                <label for="playlist-select">Playlist:</label>
                <select name="playlist-select" id="playlist-select">
                    {{#each playlists}}
                    <option value="{{this.id}}" {{#if this.isSelected}}selected{{/if}}>
                        {{#if this.playing}}&#9658;{{/if}} {{this.name}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="track-select">Track:</label>
                <select name="track-select" id="track-select">
                    {{#each tracks}}
                    <option value="{{this.id}}" {{#if this.isSelected}}selected{{/if}}>
                        {{#if this.playing}}&#9658;{{/if}} {{this.name}} {{#if this.isMuted}} &#128263;{{/if}}{{#if this.repeat}} &#128257;{{/if}}{{#if this.isFavorite}} &#11088;{{/if}}
                    </option>
                    {{else}}
                    <option value="">--Select a Track--</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="wgtngm-player-body">
        <div class="wgtngm-main-bar">
            <div class="wgtngm-now-playing">
                <i class="{{#if isFavorite}}fas fa-star{{else}}far fa-star{{/if}} wgtngm-favorite " data-action="wgtngm-favorite" title="Favorite"> </i>
                <span class="wgtngm-track-name">{{nowPlaying}}</span>
            </div>
            <div class="wgtngm-time-display">
                <span class="wgtngm-current-time">00:00</span> / <span class="wgtngm-duration-time">00:00</span>
                <i class="fas fa-repeat wgtngm-loop {{#if isLooping}}open{{/if}}" data-action="wgtngm-loop" title="Loop"></i>
            </div>
        </div>
        <div class="wgtngm-control-wrapper">
            <div class="wgtngm-player-controls">
                <button class="wgtngm-previous-track" data-action="previous-track" title="Previous Track"><i class="fas fa-backward"></i></button>
                <button data-action="toggle-play-pause" title="Play/Pause"><i class="fas {{#if isPlaying}}fa-pause{{else}}fa-play{{/if}}"></i></button>
                <button class="wgtngm-stop-track" data-action="stop-track" title="Stop"><i class="fas fa-stop"></i></button>
                <button data-action="next-track" title="Next Track"><i class="fas fa-forward"></i></button>
                <button data-action="open-soundboard" title="Open Soundboard"><i class="fas fa-border-all"></i></button>
            </div>
            <div class="wgtngm-playback-bar">
                <div class="wgtngm-volume-control">
                    <button type="button" class="wgtngm-mute-button" data-action="toggle-mute" title="Mute">
                        <i class="fas {{#if isMuted}}fa-volume-xmark{{else}}fa-volume-high{{/if}}"></i>
                    </button>
                    <input type="range" name="volume" min="0" max="1" step="0.05" value="{{volume}}">
                </div>
            </div>
        </div>
        <div class="wgtngm-track-info">
            <div class="wgtngm-next-up">
                <strong>Next:</strong>
                <span class="wgtngm-next-track-name">{{nextUp}}</span>
            </div>
        </div>
    </div>
</section>